version: "3.9"

services:
  web:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ConnectionStrings__DefaultConnection: Host=db;Port=5432;Database=melomandb;Username=postgres;Password=qwerty123456
    restart: always

  db:
    image: postgres:15
    container_name: meloman_db
    environment:
      POSTGRES_DB: melomandb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: qwerty123456
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
