@model MelomanClone.Models.Product

<h2>Add Product</h2>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-2">
        <label>Title</label>
        <input class="form-control" asp-for="Title" />
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>

    <div class="mb-2">
        <label>Description</label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <div class="mb-2">
        <label>Price</label>
        <input class="form-control" asp-for="Price" />
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>

    <div class="mb-2">
        <label>Image URL</label>
        <input class="form-control" asp-for="ImageUrl" />
        <span class="text-danger" asp-validation-for="ImageUrl"></span>
    </div>

    <div class="mb-2">
        <label>Category</label>
        <select class="form-control" asp-for="CategoryId">
            <option value="0">-- Select Category --</option>
            @foreach (var cat in ViewBag.Categories)
            {
                <option value="@cat.Id">@cat.Name</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="CategoryId"></span>
    </div>

    <button class="btn btn-success mt-3">Save</button>
</form>
